## Overview of Python for Data Science

# HOW TO USE USE MARKDOWN TO WRITE NOTES
## welcome home
### welcome home
#### welcome home
**welcome home**

*welcome home*

```
Come home
   Yes come
```

`x for all x in A`

$\displaystyle{\int_a^b f(x) dx}$

#### Variables

In [1]:
var=4 
var

4

In [2]:
print(var)

4

In [3]:
cl_m="class members in MSTA 1106"

In [4]:
print(cl_m)

class members in MSTA 1106

In [5]:
cl_m1='class members in MSTA 1106'

In [6]:
print(cl_m1)

class members in MSTA 1106

### Comparison

* Less than < ,
* Greater than > ,
* Less than or equal to < =,
* Greater than or equal to >=,
* Not equal to !=,
* Equal to  ==

In [7]:
4 < 8

True

In [8]:
4 > 8

False

In [9]:
4 != 7

True

In [10]:
var

4

In [11]:
var1=2+2

In [12]:
var1==var #comparison

True

In [13]:
var1==2

False

In [14]:
a=5+4+1

In [16]:
a==10

True

In [19]:
int(a==10) #change it into integer

1

In [16]:
a==2

False

#### Logical operators
not, and, or

### Data types and Operations
* Data Types: Integers, Floats, Booleans, Strings
* 
Operators: Arithmetic, Assignment, Comparison, Logical

In [20]:
type(22) #whole number

int

In [18]:
type('2')

str

In [21]:
type(True) #Booleans: True , False

bool

In [22]:
type(2.0) #float, decimal number

float

In [23]:
number="2"

In [24]:
print(number)

2

In [25]:
type(number)

str

In [26]:
type(int(number)) #convert to integer

int

In [29]:
int("18")

18

In [30]:
int(False)

0

## Assigment operator

In [33]:
a=45

In [32]:
type(a)

int

### Arithmetic operators

* addition, subtraction, division(integer,float), power, modular division
* Built-In Functions, Type Conversion
  
In this quiz you're going to do some calculations for a tiler. Two parts of a floor need tiling. One part is 9 tiles wide by 7 tiles long, the other is 5 tiles wide by 7 tiles long. Tiles come in packages of 6.
* 
How many tiles are neede

* ?
You buy 17 packages of tiles containing 6 tiles each. How many tiles will be left over?

In [44]:
print("a+a=",a+a,'\n'" a x 4=",a*4,'\n' " a-2=",a-2,'\n' "a//5=",a//7,'\n'"a/5=",a/7) 
#addition,multiplication, subtraction, integer division,float division)

a+a= 90
 a x 4= 180
 a-2= 43
a//5= 6
a/5= 6.428571428571429

In [36]:
a**2 #power

2025

In [37]:
a%7 #remainder after division by 2

3

In [38]:
20%3

2

Built-In Functions, Type Conversion

Booleans, Comparison Operators, and Logical Operators

True, False, ==, <, >, <=, >=, !=,  or and,  not

## Data Structures

Lists, tuples, dictionaries, sets

List methods: len, sum, sorted,

In [45]:
#list
names = ["Carol", "Albert", "Ben", "Donna"]
sb=[2,4,5,6,8,8]
list1=[[4,5],['3','come', True, False], 4]

In [46]:
names

['Carol', 'Albert', 'Ben', 'Donna']

In [52]:
print(f"names[0]=: {names[0]} ,names[2]=: {names[2]}, names[-1]=: {names[-1]}")

names[0]=: Carol ,names[2]=: Ben, names[-1]=: Donna

In [53]:
names[-2]

'Ben'

In [58]:
print(names[0],',', names[3])

Carol , Donna

In [59]:
names[-1]=3

In [60]:
names

['Carol', 'Albert', 'Ben', 3]

In [61]:
names[-2]

'Ben'

In [62]:
names[0:3] #slice from index 0 to 3-1 i.e. 0,1,2

['Carol', 'Albert', 'Ben']

In [66]:
sb=["first","second","third","fourth","fifth","sixth","seventh"]

In [67]:
sb[0:4]

['first', 'second', 'third', 'fourth']

In [68]:
sb[:4]

['first', 'second', 'third', 'fourth']

In [70]:
sb[4:]

['fifth', 'sixth', 'seventh']

In [71]:
names[2:]

['Ben', 3]

In [72]:
names,names[:-2]

(['Carol', 'Albert', 'Ben', 3], ['Carol', 'Albert'])

In [91]:
names

['Carol',
 'Albert',
 'Ben',
 3,
 ['Carol', 'Albert'],
 ['Carol', 'Albert', 'Ben'],
 ['Carol', 'Albert', 'Ben', 3],
 ['first', 'second', 'third', 'fourth', 'fifth'],
 ['first', 'second', 'third', 'fourth', 'fifth'],
 'first',
 'second',
 'third',
 'fourth',
 'fifth',
 'first',
 'second',
 'third',
 'fourth',
 'fifth',
 'Carol',
 'Albert',
 ['Carol', 'Albert'],
 ['Carol', 'Albert', 'newwww'],
 'Carol',
 'Albert',
 'newwww',
 'Carol',
 'Albert',
 'newwww',
 'extend']

In [90]:
print(names.extend(['Carol', 'Albert', 'newwww','extend']))

None

In [92]:
names+names[:-2]

['Carol',
 'Albert',
 'Ben',
 3,
 ['Carol', 'Albert'],
 ['Carol', 'Albert', 'Ben'],
 ['Carol', 'Albert', 'Ben', 3],
 ['first', 'second', 'third', 'fourth', 'fifth'],
 ['first', 'second', 'third', 'fourth', 'fifth'],
 'first',
 'second',
 'third',
 'fourth',
 'fifth',
 'first',
 'second',
 'third',
 'fourth',
 'fifth',
 'Carol',
 'Albert',
 ['Carol', 'Albert'],
 ['Carol', 'Albert', 'newwww'],
 'Carol',
 'Albert',
 'newwww',
 'Carol',
 'Albert',
 'newwww',
 'extend',
 'Carol',
 'Albert',
 'Ben',
 3,
 ['Carol', 'Albert'],
 ['Carol', 'Albert', 'Ben'],
 ['Carol', 'Albert', 'Ben', 3],
 ['first', 'second', 'third', 'fourth', 'fifth'],
 ['first', 'second', 'third', 'fourth', 'fifth'],
 'first',
 'second',
 'third',
 'fourth',
 'fifth',
 'first',
 'second',
 'third',
 'fourth',
 'fifth',
 'Carol',
 'Albert',
 ['Carol', 'Albert'],
 ['Carol', 'Albert', 'newwww'],
 'Carol',
 'Albert',
 'newwww',
 'Carol',
 'Albert']

### Tuple

In [93]:
sb1=(2,4,5,6,8,8)

In [94]:
sb1[-1]

8

In [97]:
sb2=sb1[1:]

In [99]:
list(sb2)

[4, 5, 6, 8, 8]

In [100]:
len(sb1)

6

## sets

In [101]:
set1=set(sb1)

In [102]:
set1

{2, 4, 5, 6, 8}

In [104]:
len(set1)

5

In [107]:
type(names),type(sb1),type(set1)

(list, tuple, set)

## dictionary

In [109]:
dic1 = {"a": 11, "b": 12, "c": 36, "v": True}

In [110]:
type(dic1)

dict

In [111]:
dic1.keys()

dict_keys(['a', 'b', 'c', 'v'])

In [112]:
dic1.values()

dict_values([11, 12, 36, True])

In [114]:
dic1['v']

True

## control flows

If statements
If, Elif, Else

In [117]:
#if we have 9 students, the class will proceed
n=8
if n >=5:
    print('Proceed with the class')

Proceed with the class

In [118]:
n=4
if n >= 5:
    print('Proceed with the class')

In [ ]:
#if we have 5 students, the class will proceed otherwise do not

In [119]:
n=3
if n>=5:
    print('Proceed with the class')
else:
    print('Do not proceed with the class')

Do not proceed with the class

In [120]:
n=13
if n>=5:
    print('Proceed with the class')
else:
    print('Do not proceed with the class')

Proceed with the class

In [ ]:
# grading: F:<40, pass 40 <= x< 50, Second class above 50, first class above or equal to 70

In [123]:
marks= 68
if marks <40 and marks>=0:# 0=< marks < 40
    print('Fail')
elif marks < 50 and marks>=40:  # 40=< marks < 50
    print('pass')
elif marks < 70 and marks>=50:  # 50=< marks < 70
    print('Second class upper or Lower')
elif marks < 100 and marks>=70:  # 70=< marks < 100
    print('first class')
else:
    print('Invalid')

Second class upper or Lower

In [ ]:
# grading: Fail:<40, passed 40 <= x<= 100, (marks > 100) or (marks < 0): Invalid score

loops
For and while loop


## Functions

Population Density Function
Write a function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.


Find area, average, standard deviation, median, mode

In [125]:
def add2numbers(a,b):
    '''
    This function calculates the sum of two numbers and returns a number
    Arguments a = number, b=number  
    output = sum of the inputs which is an integers or a float
    '''
    return a+b

In [130]:
def devde2numbers(a,b):
    '''
    This function calculates the sum of two numbers and returns a number
    Arguments a = number, b=number  
    output = sum of the inputs which is an integers or a float
    '''
    sum=a/b
    return sum

In [135]:
v=add2numbers(10,7)+3

In [136]:
v

20

In [134]:
var2=10+7

In [ ]:
var2

In [137]:
devde2numbers(48,10)

4.8

In [107]:
v+var2

34

In [ ]:
#area of a triangle with base = 24, hypotenuse= 25: 
#defne the function and class it
# area= (base * height)/2
#height=(hypotenuse**2 -base**2)**(1/2)

In [138]:
def area_of_tri(base,hyp):
    hei=(hyp**2 - base**2)**0.5
    area=0.5*base*hei
    return area,hei

In [139]:
area_of_tri(24,25)

(84.0, 7.0)

In [148]:
lis=[3,2,4,15,9,18,20]
lis

[3, 2, 4, 15, 9, 18, 20]

In [111]:
lis?

Type:        list
String form: [3, 2, 4, 8, 9, 8]
Length:      6
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [112]:
dir(lis)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [114]:
s=sum(lis)
s

34

In [113]:
sum(lis)/len(lis)

5.666666666666667

In [115]:
def average_f(a_list):
    return sum(a_list)/len(a_list)

In [116]:
average_f(lis)

5.666666666666667

In [117]:
lis

[3, 2, 4, 8, 9, 8]

In [146]:
for element in lis:
    print(element)
    break

3

In [152]:
for element in lis:
    if element % 5 == 0:
        print(element)
        break

15

In [155]:
sum1=0
for i in lis:
    sum1=sum1+i
print(sum1)

71

In [156]:
sum1=0
for i in lis:
    sum1+=i
print(sum1)

71

In [157]:
len(lis)

7

In [162]:
n0=len(lis)
while n0>4:
    n0=n0-1
    print(n0,':', lis[n0])

6 : 20
5 : 18
4 : 9

In [163]:
import numpy as np #alias
import pandas as pd #alias

In [164]:
lis1=np.array([3,2,4,8,9,8])

In [165]:
lis1

array([3, 2, 4, 8, 9, 8])

In [166]:
type(lis1)

numpy.ndarray

In [167]:
dict2={'names':['james','david','Emmanuel','john'], 'age':[32,26,28,30], 'experience':[3,5,4,6]}

In [168]:
df=pd.DataFrame(dict2)

In [169]:
df

      names  age  experience
0     james   32           3
1     david   26           5
2  Emmanuel   28           4
3      john   30           6

In [170]:
df.shape

(4, 3)

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       4 non-null      object
 1   age         4 non-null      int64
 2   experience  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [186]:
#import libraries
import numpy as np
import pandas as pd

In [173]:
np1=np.array([3,5,7,9,11,13,15])

In [ ]:
np1

In [ ]:
#check type
type(np1)

In [174]:
sum1=np1.sum() #sum of elements

In [ ]:
print(sum1)

In [175]:
len1=len(np1) # number of elements
print(len1)

7

In [176]:
df.shape

(4, 3)

### mean

In [177]:
np1.mean()

np.float64(9.0)

In [ ]:
mean=sum1/len1
print(mean)

In [ ]:
def summation(list1):
    sum3=0
    for number in list1:
        sum3=sum3+number
    return sum3     

def average1(list1):
    sum3=0
    for number in list1:
        sum3=sum3+number
    return sum3/len(list1)

In [ ]:
summation(np1)

In [ ]:
average1(np1)

In [178]:
np.median(np1)

np.float64(9.0)

In [ ]:
np1

In [180]:
np2=np.array([3,7,15,11,5,9,13])

In [181]:
np.median(np2)

np.float64(9.0)

### Import a csv file into a python notebook

In [198]:
import requests

In [199]:
url="https://statso.io/wp-content/uploads/2024/02/food_orders_new_delhi.csv"
response=requests.get(url)
with open('food_order1.csv','wb') as file:
    file.write(response.content)

In [200]:
food_order=pd.read_csv('food_order1.csv')
food_order.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 16, saw 2

In [201]:
link="https://raw.githubusercontent.com/cloudxlab/ml/master/machine_learning/datasets/housing/housing.csv"
request=requests.get(link)

In [202]:
with open("housing.csv",'wb') as file:
    file.write(request.content)

In [203]:
housing_df=pd.read_csv("housing.csv")

In [210]:
housing_df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [211]:
housing_df.shape

(20640, 10)

In [213]:
housing_df.shape[0]

20640

In [214]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [215]:
housing_df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [216]:
housing_df.columns.to_list()

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [222]:
housing_df['total_rooms']

0         880.0
1        7099.0
2        1467.0
3        1274.0
4        1627.0
          ...
20635    1665.0
20636     697.0
20637    2254.0
20638    1860.0
20639    2785.0
Name: total_rooms, Length: 20640, dtype: float64

In [223]:
housing_df[['total_rooms']]

       total_rooms
0            880.0
1           7099.0
2           1467.0
3           1274.0
4           1627.0
...            ...
20635       1665.0
20636        697.0
20637       2254.0
20638       1860.0
20639       2785.0

[20640 rows x 1 columns]

In [224]:
housing_df.total_rooms #pandas series

0         880.0
1        7099.0
2        1467.0
3        1274.0
4        1627.0
          ...
20635    1665.0
20636     697.0
20637    2254.0
20638    1860.0
20639    2785.0
Name: total_rooms, Length: 20640, dtype: float64

In [225]:
print("sum: ",housing_df['total_rooms'].sum())
print('mean: ',housing_df['total_rooms'].mean())

sum:  54402150.0
mean:  2635.7630813953488

In [163]:
print('mean = {} and sum = {}'.format(housing_df['total_rooms'].mean(),housing_df['total_rooms'].sum()))

mean = 2635.7630813953488 and sum = 54402150.0

In [164]:
housing_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000